* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* Header */
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 19.5px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header .actions {
    margin-left: 177px;
}

.header .action-link {
    margin-right: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #494949;
}

.header .actions .btn {
    padding: 12px 24px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1ebfc1;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}
